<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="styel.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <script src="https://cdn.jsdelivr.net/ngstorage/0.3.6/ngStorage.min.js"></script>

    <!-- bootstrap. -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

 <!-- Fontawsome -->
 <script src="https://kit.fontawesome.com/ab026326c7.js" crossorigin="anonymous"></script>

 <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">

    <meta charset="utf-8">
    <title>sign-in/Sign-up</title>
  </head>
  <body ng-app="mymodule", ng-controller="mycontroller">
    <div class="container">
    <!-- registration page   -->
      <div class="rpage">
        <h3> Registration Page</h3>
      <form name="sign" novalidate>
  				<label>Name</label>
  				<input type="text" name="namee" ng-model="namee" required>
          <br><br>

          <label >Username</label>
  				<input  type="text" name="username" ng-model="username" required>
          <br><br>

          <label>Password</label>
  				<input type="password" name="passs" ng-model="passs" required>
          <br><br>
<button  class="rbutton"ng-click="signupp()" ng-disabled="si.namee.$invalid || si.username.$invalid || si.passs.$invalid">Sign Up</button>

        </form>
  </div>




    <script>
      var app = angular.module("mymodule",[]);
      app.controller('mycontroller',function($scope){

        $scope.name = []
        $scope.usernamee = []
        $scope.password = []

        $scope.signupp = function()
        {
          $scope.name.push($scope.namee)
          $scope.usernamee.push($scope.username)
          $scope.password.push($scope.passs)


          localStorage.setItem('usern', JSON.stringify($scope.usernamee))
          localStorage.setItem('passw', JSON.stringify($scope.password))
          localStorage.setItem('name', JSON.stringify($scope.name))

            location.href="log.html"
            alert('Your Data is safe with us!')
        }





      });
    </script>
  </body>
  </html>
